<launch>

	<node pkg="filtre" name="Camera_emulate_Node" type="Camera_emulate_Node.py">
	</node>	



	<node pkg="filtre" name="target_filtre" type="target_filtre.py">
	</node>

	<node pkg="filtre" name="Launcher_control_Node" type="Launcher_control_Node.py">
	</node>	

	<node pkg="filtre" name="UIEmulate" type="UIEmulate.py">
	</node>	

	<node pkg="filtre" name="dataManager" type="dataManager.py">
	</node>	

	<node pkg="filtre" name="RPISerialComm" type="RPISerialCommNode.py">
	</node>	



</launch>
